{% extends 'student_template/base_template.html' %} {% block page_title %}
Resources {% endblock page_title %} {% block main_content %} {% load static %}

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary shadow border">
          <div class="card-header">
            <h3 class="card-title">All Resources</h3>
          </div>

          <div class="card-body bg-light">
            <div class="table-responsive">
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th>#ID</th>
                    <th>Resource Name</th>
                    <th>Subject</th>
                    <th>Class</th>
                    <th>Action</th>
                  </tr>
                </thead>

                {% for row in resources %}
                <tr>
                  <td>{{ row.id }}</td>
                  <td>{{ row.resource_name }}</td>
                  <td>{{ row.subject_id.subject_name }}</td>
                  <td>{{ row.course_id.course_name }}</td>
                  <td>
                    <a
                      href="{% url 'downloadResource' resource_id=row.id %}"
                      class="btn btn-primary"
                      target="_blank"
                      rel="noopener"
                    >
                      Download
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

{% endblock main_content %} {% block custom_js %} {% endblock custom_js %}
